<!-- <form action=<%#= chirp_url(@chirp) %> method="post"> -->
<form action=<%= chirp_url(params[:id]) %> method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label>Body:
        <input type="text" name="chirp[body]" value=<%= @chirp.body %>>
    </label>
    <input type="submit" value="Edit Chirp">
</form>