<form action=<%= users_url %> method="POST">
    <label>Username:
        <input type="text" name="user[username]" value=<%= @user.username %>>
    </label>
    <label for="email">Email:</label>
    <input id="email" type="text" name="user[email]" value=<%= @user.email %>>
    <label>Age:
        <input type="text" name="user[age]" value=<%= @user.age %>>
    </label>
    <input type="submit" value="Create User">
</form>